<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <!-- Appender para JSON (Produção/ElasticSearch) -->
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"${springAppName}"}</customFields>
        </encoder>
    </appender>

    <!-- Appender para Texto (Console/Desenvolvimento) -->
    <appender name="CONSOLE_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <springProfile name="dev">
            <appender-ref ref="CONSOLE_TEXT"/>
        </springProfile>
        <springProfile name="!dev">
            <appender-ref ref="CONSOLE_JSON"/>
        </springProfile>
    </root>

</configuration>
